---
import Literal from "../api/literal.js"
import fontColorContrast from "font-color-contrast"
import Error from "../Error.astro"

let data, error
try {
  const literal = new Literal()
  data = await literal.fetch()
} catch (e) {
  error = e.message
}

const bgColor = import.meta.env.PUBLIC_LITERALFM_BGCOLOR || "#e8e3d5"
const color = fontColorContrast.default(bgColor)
---

{
  !error && (
    <main class="relative flex items-center py-3 h-32">
      <a
        class="w-full"
        href={`https://literal.club/book/${data.slug}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="block opacity-90 z-10 text-sm">
          <span class="text-xs pl-24 italic mb-2">Currently reading:</span>
          <div class="line-clamp-2 p-1 pb-0 pl-24 title w-full font-bold text-lg">
            {data.title}
          </div>
          <div class="font-normal pl-24 p-2 pt-0 title line-clamp-1 w-full uppercase text-xs">
            <span class="italic text-xs lowercase">by </span>
            {data.authors.map(({ name }) => name).join(", ")}
          </div>
        </div>

        <div
          class="book bg-cover absolute rotate-3 ml-1 bottom-1/2 translate-y-1/2 left-2 leading-4"
          style={{ backgroundImage: `url("${data.cover}")` }}
        />

        <svg
          class="absolute h-20 bottom-3 right-3 opacity-20 pointer-events-none z-0"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 31"
        >
          <path d="m10.8679 7.6303 4.0222.28126-2.3969 3.36904 1.8713 1.3378 2.4923-3.53078 1.9768 3.84328 2.0392-1.0644-1.8767-3.66782 3.9663.27735.1601-2.29041-4.0221-.28125 2.3988-3.39695-1.8713-1.33779-2.4625 3.50477L15.2147.861031 13.1755 1.92538l1.9027 3.69773-4.0501-.28321-.1602 2.2904ZM.688711 19.7525 11.3915 21.2567l.4521-3.2164-7.48646-1.0521L6.6329.795296 3.4165.343262.688711 19.7525ZM23.1817 27.9938 2.3285 30.9245l-.45204-3.2164 20.85324-2.9307.452 3.2164Z" />
        </svg>
      </a>
    </main>
  )
}
<Error error={error} />

<style lang="scss" define:vars={{ bgColor, color }}>
  .book {
    $book-width: 72px;
    $bit: $book-width / 160;

    box-shadow:
      #{$bit / 2} #{$bit / 2} #{$bit * 2} rgba(black, 0.3),
      $bit $bit #{$bit * 4} rgba(black, 0.3),
      #{$bit * 4} #{$bit * 5} #{$bit * 10} rgba(black, 0.4);

    &,
    &::after {
      display: block;
      width: $book-width;
      height: #{$book-width * 1.45};
      border-radius: #{$bit * 2};
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-shadow:
        -#{$bit / 2} -#{$bit} #{$bit * 2} rgba(black, 0.2) inset,
        -#{$bit / 2} -#{$bit / 2} $bit rgba(black, 0.2) inset;
      background-image: linear-gradient(
          to bottom,
          rgba(white, 0.1),
          rgba(black, 0.2)
        ),
        linear-gradient(
          to right,
          rgba(black, 0.2) 0,
          rgba(black, 0) #{$bit * 2},
          rgba(black, 0.2) #{$bit * 4},
          rgba(black, 0) #{$bit * 5}
        );
    }
  }

  // ------ all other stylings ------

  main {
    background-color: var(--bgColor);
    color: var(--color);
  }

  .title {
    background-color: color-mix(in srgb, var(--bgColor), var(--color) 60%);
    color: color-mix(in srgb, var(--color), var(--bgColor) 100%);
  }

  svg {
    fill: color-mix(in srgb, var(--bgColor), var(--color) 40%);
  }
</style>
